* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  padding: 10px;
}

#debug {
  background-color: #F0F0F0;
  font-size: 12px;
  height: 250px;
  overflow: auto;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 250px;
  z-index: 100;
}

#chat_form {
  bottom: 5px;
  position: absolute;
  width: 99%;
}

#chat_form #chat_form_input {
  border: 1px solid #CCC;
  font-size: 16px;
  height: 20px;
  padding: 5px;
  width: 98%;
}

#chat_form input[disabled] {
  background-color: #EEE;
}

#messages {
  bottom: 25px;
  left: 0;
  overflow: auto;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.message {
  width: 95%;
}

.timestamp {
  font-size: 12px;
}

.me, .nick {
  float: left;
  width: 100px;
}

.me {
  color: #F99;
}

.nick {
  color: #99F;
}

.status {
  background-color: #DDD;
}
